@model CloudVOffice.Data.DTO.Attendance.ShiftTypeDTO;
@{
	Layout = "_MainAppLayout";
	 ViewData["Title"] = "Shift Type";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>HR</h5>
					<h6 class="sub-heading">Welcome to Unify Admin Template</h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">  </span>
				</div>
			</div>
		</div>
	</div>
</header>


<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

			<div class="card">
				<form asp-route="/Attendance/ShiftType/CreateShiftType" method="post" autocomplete="off">
					<div asp-ation-summary="ModelOnly" class="message-error"></div>


					<div class="card-header"><b>Basic Info</b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-3">
								<input asp-for="@Model.ShiftTypeId" type="hidden" />

								<label for="ShiftTypeName" class="form-label">ShiftType Name&nbsp;<span style="color:red;"><b>*</b></span></label>
								<input asp-for="@Model.ShiftTypeName" type="text" class="form-control" autofocus="autofocus" placeholder="Shift Type Name" />
								<span asp-validation-for="ShiftTypeName"></span>
							</div>

						</div>

						<div class="form-row">
							<div class="form-group col-md-5">
								<label for="StartTime" class="form-label">Start Time</label>
								<input asp-for="@Model.StartTime" type="time" class="form-control" autofocus="autofocus" placeholder="Start Time" />
								<span asp-validation-for="StartTime"></span>
							</div>

							<div class="form-group col-md-5">
								<label for="EndTime" class="form-label">End Time</label>
								<input asp-for="@Model.EndTime" type="time" class="form-control" autofocus="autofocus" placeholder="End Time" />
								<span asp-validation-for="EndTime"></span>
							</div>

						</div>

						<div class="form-row">
							<div class="form-group col-md-5">
								<label for="LateEntryGracePeriodInMinutes" class="form-label">Late Entry Grace Period In Minutes</label>
								<input asp-for="@Model.LateEntryGracePeriodInMinutes" type="text" class="form-control" autofocus="autofocus" placeholder="Late Entry Grace Period In Minutes" />
								<span asp-validation-for="LateEntryGracePeriodInMinutes"></span>
							</div>

							<div class="form-group col-md-5">
								<label for="EarlyExitGracePeriodInMinutes" class="form-label">Early Exit Grace Period In Minutes</label>
								<input asp-for="@Model.EarlyExitGracePeriodInMinutes" type="text" class="form-control" autofocus="autofocus" placeholder="Early Exit Grace Period In Minutes" />
								<span asp-validation-for="EarlyExitGracePeriodInMinutes"></span>
							</div>

						</div>

						<div class="form-row">
							<div class="form-group col-md-5">
								<label for="ThresholdforHalfDayInHours" class="form-label">Threshold for Half Day In Hours</label>
								<input asp-for="@Model.ThresholdforHalfDayInHours" type="text" class="form-control" autofocus="autofocus" placeholder="Threshold for Half Day InHours" />
								<span asp-validation-for="ThresholdforHalfDayInHours"></span>
							</div

							<div class="form-group col-md-5">
								<label for="ThresholdforAbsentInHours" class="form-label">Threshold for Absent In Hours</label>
								<input asp-for="@Model.ThresholdforAbsentInHours" type="text" class="form-control" autofocus="autofocus" placeholder="Threshold for Absent In Hours" />
								<span asp-validation-for="ThresholdforAbsentInHours"></span>
							</div>

						</div>

					</div>

					<div class="card-body">

						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>

			</div>



		</div>
	</div>

</div>