@model CloudVOffice.Data.DTO.Attendance.HolidayDaysDTO;
@using System.Collections;
@using Newtonsoft.Json;
@{
    Layout = "_MainAppLayout";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>Attendance</h5>
                    <h6 class="sub-heading">Welcome to Unify Admin Template</h6>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login">Last Login: 2 hours ago</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="main-content">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <form asp-route="/Attendance/HolidayDays/CreateHolidayDays" method="post" autocomplete="off">
                    <div asp-ation-summary="ModelOnly" class="message-error"></div>
                    <div class="card-header"><b>Basic Info</b></div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <input asp-for="@Model.HolidayDaysId" type="hidden" />

                                <label for="HolidayId" class="form-label">Holiday</label>
                                <ejs-dropdownlist id="HolidayId" allowFiltering="true" ejs-for="@Model.HolidayId" filtering="onHolidayrfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.Holiday, "HolidayId", "HolidayName").Items)" placeholder="Select Holiday" popupHeight="220px">
                                    <e-dropdownlist-fields text="HolidayName" value="HolidayId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>


                                <span asp-validation-for="HolidayId"></span>
                               
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="ForDate" class="form-label">Date</label>
                                <input asp-for="@Model.ForDate" type="date" class="form-control" autofocus="autofocus" placeholder="For Date" />
                                <span asp-validation-for="ForDate"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="Description" class="form-label">Description</label>
                                <input asp-for="@Model.Description" type="text" class="form-control" autofocus="autofocus" placeholder="Description" />
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script>

    function onHolidayrfiltering(e) {
        var query = new ej.data.Query();
        query = (e.text !== '') ? query.where('HolidayName', 'startswith', e.text, true) : query;
        e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Holiday)), query);
    }
</script>