@model CloudVOffice.Data.DTO.Customert.CustomerDTO;
@{
	Layout = "_MainAppLayout";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>Customer Group</h5>
					
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">Last Login: 2 hours ago</span>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

			<div class="card">
				<form asp-route="Accounts/Customer/CustomerCreate" method="post" autocomplete="off">
					<div asp-validation-summary="ModelOnly" class="message-error"></div>


					<div class="card-header"><b> Customer Group</b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-5">
								<input asp-for="@Model.CustomerId" type="hidden" />

								<label for="CustomerName" class="form-label">Customer Name</label>
								<input asp-for="@Model.CustomerName" type="text" class="form-control" autofocus="autofocus" placeholder="Customer Name" />
								<span asp-validation-for="CustomerName"></span>
							</div>
							<div class="form-group col-md-5">
								

								<label for="CustomerGroupId" class="form-label">CustomerGroupId</label>
								<input asp-for="@Model.CustomerGroupId" type="text" class="form-control" autofocus="autofocus" placeholder="CustomerGroupId" />
								<span asp-validation-for="CustomerGroupId"></span>
							</div>
							<div class="form-group col-md-5">

								<label for="TaxId" class="form-label">TaxId</label>
								<input asp-for="@Model.TaxId" type="text" class="form-control" autofocus="autofocus" placeholder="TaxId" />
								<span asp-validation-for="TaxId"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-5">
								

								<label for="AccountManagerId" class="form-label">AccountManagerId</label>
								<input asp-for="@Model.AccountManagerId" type="text" class="form-control" autofocus="autofocus" placeholder="AccountManagerId" />
								<span asp-validation-for="AccountManagerId"></span>
							</div>
							<div class="form-group col-md-5">


								<label for="AddressLine1" class="form-label">AddressLine1</label>
								<input asp-for="@Model.AddressLine1" type="text" class="form-control" autofocus="autofocus" placeholder="AddressLine1" />
								<span asp-validation-for="AddressLine1"></span>
							</div>
							<div class="form-group col-md-5">

								<label for="AddressLine2" class="form-label">AddressLine2</label>
								<input asp-for="@Model.AddressLine2" type="text" class="form-control" autofocus="autofocus" placeholder="AddressLine2" />
								<span asp-validation-for="AddressLine2"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-5">


								<label for="City" class="form-label">City</label>
								<input asp-for="@Model.City" type="text" class="form-control" autofocus="autofocus" placeholder="City" />
								<span asp-validation-for="City"></span>
							</div>
							<div class="form-group col-md-5">


								<label for="State" class="form-label">State</label>
								<input asp-for="@Model.State" type="text" class="form-control" autofocus="autofocus" placeholder="State" />
								<span asp-validation-for="State"></span>
							</div>
							<div class="form-group col-md-5">

								<label for="Country" class="form-label">Country</label>
								<input asp-for="@Model.Country" type="text" class="form-control" autofocus="autofocus" placeholder="Country" />
								<span asp-validation-for="Country"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-5">


								<label for="ZipCode" class="form-label">Zip Code</label>
								<input asp-for="@Model.ZipCode" type="text" class="form-control" autofocus="autofocus" placeholder="Zip Code" />
								<span asp-validation-for="ZipCode"></span>
							</div>
							<div class="form-group col-md-5">


								<label for="PhoneNo" class="form-label">Phone No</label>
								<input asp-for="@Model.PhoneNo" type="text" class="form-control" autofocus="autofocus" placeholder="Phone No" />
								<span asp-validation-for="PhoneNo"></span>
							</div>
							<div class="form-group col-md-5">

								<label for="EmailId" class="form-label">Email Id</label>
								<input asp-for="@Model.EmailId" type="text" class="form-control" autofocus="autofocus" placeholder="Email Id" />
								<span asp-validation-for="EmailId"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-5">


								<label for="ContactPersonName" class="form-label">Contact Person Name</label>
								<input asp-for="@Model.ContactPersonName" type="text" class="form-control" autofocus="autofocus" placeholder="Contact Person Name" />
								<span asp-validation-for="ContactPersonName"></span>
							</div>
							<div class="form-group col-md-5">


								<label for="ContactPersonPhone" class="form-label">Contact Person Phone</label>
								<input asp-for="@Model.ContactPersonPhone" type="text" class="form-control" autofocus="autofocus" placeholder="Contact Person Phone" />
								<span asp-validation-for="ContactPersonPhone"></span>
							</div>
							<div class="form-group col-md-5">

								<label for="ContactPersonEmailId" class="form-label">Contact Person Email Id</label>
								<input asp-for="@Model.ContactPersonEmailId" type="text" class="form-control" autofocus="autofocus" placeholder="Contact Person Email Id" />
								<span asp-validation-for="ContactPersonEmailId"></span>
							</div>
						</div>

					</div>



					<div class="card-body">

						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>

			</div>



		</div>
	</div>

</div>


