@{
    Layout = "_MainAppLayout";
    ViewData["Title"] = "Time Sheet";
}
@addTagHelper *, Syncfusion.EJ2
@using CloudVOffice.Core.Domain.Common;
<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>Timesheet</h5>
                    <h6 class="sub-heading">  </h6>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login">  </span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-content">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            Timesheet
                        </div>

                        <div class="col-md-6 text-right float-right">
                            <a href="~/Projects/Timesheet/TimesheetCreate" class="btn btn-success btn-sm"><i class="icon icon-add"></i> Add  Timesheet</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                  


                    <ejs-grid id="GridOverview" dataSource="ViewBag.Timesheets"
                              allowFiltering="true" allowSorting="true"
                              allowExcelExport="true" allowGrouping="true"
                              allowMultiSorting="true"
                              allowPdfExport="true"
                              height="600" rowHeight="38"
                              allowResizing="true" autoFit="true" dataBound="dataBound"
                              enableHover="false" enableHeaderFocus="true"
                              enableVirtualization="true" allowSelection="true"
                              toolbarClick="toolbarClick" toolbar="@(new List<string>() {"ExcelExport", "PdfExport", "CsvExport" ,"Search"})">
                        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
                        <e-grid-selectionsettings persistSelection="true" type="Multiple" checkboxOnly="true"></e-grid-selectionsettings>
                        <e-grid-columns>
                        
                            <e-grid-column field="TimeSheetForDate" headerText="TimeSheet ForDate" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="TimesheetActivityCategory.TimesheetActivityCategoryName" headerText="Activity Category" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="ProjectActivityType.ProjectActivityName" headerText="Activity" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Project.ProjectName" headerText="Project" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="ProjectTask.TaskName" headerText="Task Name" textAlign="Left" width="120"></e-grid-column>
                          
                            <e-grid-column field="DurationInHours" headerText="Duration In Hours" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Description" headerText="Description" textAlign="Left" width="200"></e-grid-column>
                           
                            <e-grid-column headerText="Action" template="#Actions" width="100"></e-grid-column>
                        </e-grid-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>

</div>
@{

    if (TempData["msg"] != null)
    {
        <script type="text/javascript">
            const message = "@TempData["msg"]";
            if (message == "@((int)MessageEnum.Success)") {
                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Timesheet",
                    text: "Successfully created.",
                    type: "success"
                });
            }
            else if (message == "@((int)MessageEnum.Updated)") {
                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Timesheet",
                    text: "Successfully updated.",
                    type: "success"
                });
            }
            else if (message == "@((int)MessageEnum.Deleted)") {
                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Timesheet",
                    text: "Successfully Deleted.",
                    type: "success"
                });
            }
            else if (message == "@((int)MessageEnum.HourConsumed)") {
                sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Timesheet",
                    text: "Effort Hour Consumed. Please discuss with your Project Manager.",
                    type: "error"
                });
            }
            else if (message == "@((int)MessageEnum.UnExpectedError)") {
                sweetAlert({
                    html: true,
                    icon: "danger",
                    title: "Timesheet",
                    text: "There is somthing going wrong.",
                    type: "danger"
                });
            }
            else if (message == "@((int)MessageEnum.Error)") {
                sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Timesheet",
                    text: "There is somthing going wrong.",
                    type: "error"
                });
            }
            else if (message == "@((int)MessageEnum.BackMonthNotAllow)") {
                sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Timesheet",
                    text: "You cannot Create Privous Month Timesheet.",
                    type: "error"
                });
            }
            else {
                sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Timesheet",
                    text: message,
                    type: "error"
                });
            }
        </script>
    }
}
<script type="text/javascript">
    function Delete(Id) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this data!",
            icon: "warning",
            buttons: [
                'No, cancel it!',
                'Yes, I am sure!'
            ],
            confirmButtonColor: "#DD6B55",
            dangerMode: true,
        }).then(function (isConfirm) {
            if (isConfirm) {
                window.location.href = "../../Projects/Timesheet/TimesheetDelete?TimesheetId=" + Id;
            }
        })
    }
</script>
<script id="Actions" type="text/x-template">
      ${deleteAction(data)}
  
</script>

<script>

    function deleteAction(e) {
        if (e.TimeSheetApprovalStatus == 0) {
            return '  <div class="link"><button onClick = "Delete(' + e.TimesheetId + ')" style = "background: transparent;border: none;" > <i class="icon-trash" style = "font-size:22px" > </i></button> </div>';
        } else   if (e.TimeSheetApprovalStatus == 1) {
            return '<span class="badge badge-pill badge-success" > Approved </span>';
        }
        else if (e.TimeSheetApprovalStatus == 2) {
            return '<span class="badge badge-pill badge-dark">Rejected</span>';
        }


    

    }
    function toolbarClick(args) {
        var gridObj = document.getElementById("GridOverview").ej2_instances[0];
        if (args.item.id === 'GridOverview_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'GridOverview_excelexport') {
            gridObj.excelExport();
        }
        if (args.item.id === 'GridOverview_csvexport') {
            gridObj.csvExport();
        }
    }
    function exportQueryCellInfo(args) {
        if (args.column.headerText === 'Employee Image') {
            if (args.name === "excelQueryCellInfo") {
                args.image = { height: 75, base64: args.data["EmployeeImage"], width: 75 };
            } else {
                args.image = { base64: args.data["EmployeeImage"] };
            }
        }
        if (args.column.headerText === 'Track') {
            args.hyperLink = {
                target: "../../DMS/DesktopLogin/Track?id=" + args.data["erpUser"],
                displayText: "Track"
            };
        }
    };

    function dataBound(args) {
        this.autoFitColumns();
    }
</script>