@model CloudVOffice.Data.DTO.Emp.EmployeeCreateDTO;
@using System.Collections;
@using Newtonsoft.Json;
@{
	Layout = "_MainAppLayout";
	var DepartmentList = new SelectList((IEnumerable)ViewBag.Department, "DepartmentId", "DepartmentName");
	var DesignationList = new SelectList((IEnumerable)ViewBag.Designation, "DesignationId", "DesignationName");
	var BranchList = new SelectList((IEnumerable)ViewBag.Branch, "BranchId", "BranchName");
	var EmploymentType = new SelectList((IEnumerable)ViewBag.EmploymentType, "EmploymentTypeId", "EmploymentTypeName");
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
	.avatar-upload {
		position: relative;
		max-width: 135px;
		
	}

		.avatar-upload .avatar-edit {
			position: absolute;
			right: 12px;
			z-index: 1;
			top: 10px;
		}

			.avatar-upload .avatar-edit input {
				display: none;
			}

				.avatar-upload .avatar-edit input + label {
					display: inline-block;
					width: 34px;
					height: 34px;
					margin-bottom: 0;
					border-radius: 100%;
					background: #FFFFFF;
					border: 1px solid transparent;
					box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
					cursor: pointer;
					font-weight: normal;
					transition: all 0.2s ease-in-out;
				}

					.avatar-upload .avatar-edit input + label:hover {
						background: #f1f1f1;
						border-color: #d6d6d6;
					}

					.avatar-upload .avatar-edit input + label:after {
						content: "\f040";
						font-family: 'FontAwesome';
						color: #757575;
						position: absolute;
						top: 10px;
						left: 0;
						right: 0;
						text-align: center;
						margin: auto;
					}

		.avatar-upload .avatar-preview {
			width: 100px;
			height: 100px;
			position: relative;
			border-radius: 100%;
			border: 6px solid #F8F8F8;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
		}

			.avatar-upload .avatar-preview > div {
				width: 100%;
				height: 100%;
				border-radius: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
</style>
<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>EMP</h5>
					<h6 class="sub-heading">Welcome to Unify Admin Template</h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">Last Login: 2 hours ago</span>
				</div>
			</div>
		</div>
	</div>
</header>


<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="card">
				<form asp-route="Hr/Employee/EmployeeCreate" method="post" autocomplete="off" enctype="multipart/form-data">
					<div asp-validation-summary="ModelOnly" class="message-error"></div>
					<div class="card-body">
						<!-- Row start -->
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<div class="card">
									<div class="card-header">Tabs</div>
									<div class="card-body">
										<ul class="nav nav-tabs" id="myTab" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
											</li>

											<li class="nav-item">
												<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Joining</a>
											</li>

											<li class="nav-item">
												<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Company Details</a>
											</li>

											<li class="nav-item">
												<a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Address & Contacts</a>
											</li>

											<li class="nav-item">
												<a class="nav-link" id="salary-tab" data-toggle="tab" href="#salary" role="tab" aria-controls="salary" aria-selected="false">Salary</a>
											</li>

											<li class="nav-item">
												<a class="nav-link" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="false">Personal</a>
											</li>

										</ul>

										<div class="tab-content" id="myTabContent">
											<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


												<div class="card-body">
													<div class="row">
														<div class="col-md-6">
															<div class="form-row">
																<div class="form-group col-md-6">

																	<label for="EmployeeCode" class="form-label">EmployeeCode</label>
																	<input asp-for="@Model.EmployeeCode" type="text" class="form-control" autofocus="autofocus" placeholder="Employee Code" />
																	<span asp-validation-for="EmployeeCode"></span>
																</div>
															



															</div>
															<div class="form-row">
																<div class="form-group col-md-6">
																	<label for="ErpUser" class="form-label">Erp User</label>

																	<ejs-dropdownlist id="ErpUser" allowFiltering="true" ejs-for="@Model.ErpUser" filtering="onErpUserfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.ErpUsers, "UserId", "FullName").Items)" placeholder="Select a User" popupHeight="220px">
																		<e-dropdownlist-fields text="FullName" value="UserId"></e-dropdownlist-fields>
																	</ejs-dropdownlist>

																	<span asp-validation-for="ErpUser"></span>
																</div>
															</div>
														</div>
														<div class="form-group  col-md-2">
															<div class="avatar-upload">
																<div class="avatar-edit">
																	<input type='file' asp-for="@Model.imageUpload" id="imageUpload" accept=".png, .jpg, .jpeg" />
																	<label for="imageUpload"></label>
																</div>
																<div class="avatar-preview">
																	<div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
																	</div>
																</div>
															</div>
														</div>
													

													</div>
												
													<div class="form-row">

														<div class="form-group col-md-2">
															<label for="Salutation" class="form-label">Salutation</label>
															<select asp-for="@Model.Salutation" class="form-control">
																<option value="">--Select-</option>
																<option value="Dr">Dr</option>
																<option value="Madam">Madam</option>
																<option value="Master">Master</option>

																<option value="Miss">Miss</option>
																<option value="Mr">Mr</option>
																<option value="Mrs">Mrs</option>


																<option value="Ms">Ms</option>
																<option value="Mx">Mx</option>
																<option value="Prof">Prof</option>

																<option value="Mx">Mx</option>
																<option value="Prof">Prof</option>
															</select>
															<span asp-validation-for="Salutation"></span>
														</div>
														<div class="form-group col-md-3">

															<label for="FirstName" class="form-label">First Name</label>
															<input asp-for="@Model.FirstName" type="text" class="form-control" autofocus="autofocus" placeholder="First Name" />
															<span asp-validation-for="FirstName"></span>
														</div>
														<div class="form-group col-md-3">

															<label for="MiddleName" class="form-label">Middle Name</label>
															<input asp-for="@Model.MiddleName" type="text" class="form-control" autofocus="autofocus" placeholder="Middle Name" />
															<span asp-validation-for="MiddleName"></span>
														</div>
														<div class="form-group col-md-3">

															<label for="LastName" class="form-label">Last Name</label>
															<input asp-for="@Model.LastName" type="text" class="form-control" autofocus="autofocus" placeholder="Last Name" />
															<span asp-validation-for="LastName"></span>
														</div>

													</div>
													<div class="form-row">
														<div class="form-group col-md-2">

															<label for="Gender" class="form-label">Gender</label>
															<select asp-for="@Model.Gender" class="form-control">
																<option value="">--Select-</option>
																<option value="Male">Male</option>
																<option value="Female">Female</option>
																<option value="Others">Others</option>
															</select>
															<span asp-validation-for="Gender"></span>
														</div>
														<div class="form-group col-md-3">

															<label for="DateOfBirth" class="form-label">DOB</label>
															<input asp-for="@Model.DateOfBirth" type="date" class="form-control" autofocus="autofocus" placeholder="DateOfBirth" />
															<span asp-validation-for="DateOfBirth"></span>
														</div>
														<div class="form-group col-md-3">

															<label for="DateOfJoining" class="form-label">Date Of Joining</label>
															<input asp-for="@Model.DateOfJoining" type="date" class="form-control" autofocus="autofocus" placeholder="DateOfJoining" />
															<span asp-validation-for="DateOfJoining"></span>
														</div>
														<div class="form-group col-md-3">
															<label for="Status" class="form-label">Status</label>
															<select asp-for="@Model.Status" class="form-control">
																<option value="Active">Active</option>
																<option value="Inactive">Inactive</option>
																<option value="Suspended">Suspended</option>
																<option value="Left">Left</option>

															</select>
															<span asp-validation-for="Status"></span>

														</div>
													
														
													</div>
												</div>

											</div>

											<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

												<div class="card-body">
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="JobApplicant" class="form-label">Job Applicant Id</label>
															<select asp-for="@Model.JobApplicantId" class="form-control">
																

															</select>
															<span asp-validation-for="JobApplicantId"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="OfferDate" class="form-label">Offer Date</label>
															<input asp-for="@Model.OfferDate" type="date" class="form-control" autofocus="autofocus" placeholder="OfferDate" />
															<span asp-validation-for="OfferDate"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="ConfirmationDate" class="form-label">Confirmation Date</label>
															<input asp-for="@Model.ConfirmationDate" type="date" class="form-control" autofocus="autofocus" placeholder="ConfirmationDate" />
															<span asp-validation-for="ConfirmationDate"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="ContractEndDate" class="form-label">Contract End Date</label>
															<input asp-for="@Model.ContractEndDate" type="date" class="form-control" autofocus="autofocus" placeholder="ContractEndDate" />
															<span asp-validation-for="ContractEndDate"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="NoticePeriodDays" class="form-label">Notice Period Days</label>
															<input asp-for="@Model.NoticePeriodDays" type="text" class="form-control" autofocus="autofocus" placeholder="NoticePeriodDays" />
															<span asp-validation-for="NoticePeriodDays"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="RetirementDate" class="form-label">Retirement Date</label>
															<input asp-for="@Model.RetirementDate" type="date" class="form-control" autofocus="autofocus" placeholder="RetirementDate" />
															<span asp-validation-for="RetirementDate"></span>
														</div>
													</div>
												</div>

											</div>

											<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">


												<div class="card-body">
													<div class="form-row">
														<div class="form-group col-md-4">

															<label for="DepartmentId" class="form-label">Department</label>
															<ejs-dropdownlist id="DepartmentId" allowFiltering="true" ejs-for="@Model.DepartmentId" filtering="onDepartmentrfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.Department, "DepartmentId", "DepartmentName").Items)" placeholder="Select Department" popupHeight="220px">
																<e-dropdownlist-fields text="DepartmentName" value="DepartmentId"></e-dropdownlist-fields>
															</ejs-dropdownlist>


															<span asp-validation-for="DepartmentId"></span>
														</div>

														<div class="form-group col-md-4">

															<label for="DesignationId" class="form-label">Designation</label>
															<ejs-dropdownlist id="DesignationId" allowFiltering="true" ejs-for="@Model.DesignationId" filtering="onDesignationrfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.Designation, "DesignationId", "DesignationName").Items)" placeholder="Select Designation" popupHeight="220px">
																<e-dropdownlist-fields text="DesignationName" value="DesignationId"></e-dropdownlist-fields>
															</ejs-dropdownlist>

															<span asp-validation-for="DesignationId"></span>
														</div>

														<div class="form-group col-md-4">
															<label for="BranchId" class="form-label">Branch</label>
															<ejs-dropdownlist id="BranchId" allowFiltering="true" ejs-for="@Model.BranchId" filtering="onBranchrfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.Branch, "BranchId , BranchName").Items)" placeholder="Select Branch" popupHeight="220px">
																<e-dropdownlist-fields text="BranchName" value="BranchId"></e-dropdownlist-fields>
															</ejs-dropdownlist>
															<span asp-validation-for="BranchId"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="EmploymentTypeId" class="form-label">Employment Type</label>
															<ejs-dropdownlist id="EmploymentTypeId" allowFiltering="true" ejs-for="@Model.EmploymentTypeId" filtering="onEmploymentTypeIdrfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.EmploymentType, "EmploymentTypeId , EmploymentTypeName").Items)" placeholder="Select Employment Type" popupHeight="220px">
																<e-dropdownlist-fields text="EmploymentTypeName" value="EmploymentTypeId"></e-dropdownlist-fields>
															</ejs-dropdownlist>

														</div>

														<div class="form-group col-md-4">
															<label for="ReportingAuthority" class="form-label">Reporting Authority</label>
															<ejs-dropdownlist id="ReportingAuthority" allowFiltering="true" ejs-for="@Model.ReportingAuthority" filtering="onReportingAuthorityfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.Ra, "EmployeeId , FullName").Items)" placeholder="Select Reporting Authority" popupHeight="220px">
																<e-dropdownlist-fields text="FullName" value="EmployeeId"></e-dropdownlist-fields>
															</ejs-dropdownlist>

														</div>
												

													</div>
												</div>

											</div>

											<div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="contact-tab">

												<div class="card-body">
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="MobileNo" class="form-label">Mobile No</label>
															<input asp-for="@Model.MobileNo" type="text" class="form-control" autofocus="autofocus" placeholder="MobileNo" />
															<span asp-validation-for="MobileNo"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="PersonalEmail" class="form-label">Personal Email</label>
															<input asp-for="@Model.PersonalEmail" type="text" class="form-control" autofocus="autofocus" placeholder="PersonalEmail" />
															<span asp-validation-for="PersonalEmail"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="CompanyEmail" class="form-label">Company Email</label>
															<input asp-for="@Model.CompanyEmail" type="text" class="form-control" autofocus="autofocus" placeholder="CompanyEmail" />
															<span asp-validation-for="CompanyEmail"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="CurrentAddress" class="form-label">Current Address</label>
															<input asp-for="@Model.CurrentAddress" type="text" class="form-control" autofocus="autofocus" placeholder="CurrentAddress" />
															<span asp-validation-for="CurrentAddress"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="PermanentAddress" class="form-label">Permanent Address</label>
															<input asp-for="@Model.PermanentAddress" type="text" class="form-control" autofocus="autofocus" placeholder="PermanentAddress" />
															<span asp-validation-for="PermanentAddress"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="EmergencyContactName" class="form-label">Emergency Contact Name</label>
															<input asp-for="@Model.EmergencyContactName" type="text" class="form-control" autofocus="autofocus" placeholder="EmergencyContactName" />
															<span asp-validation-for="EmergencyContactName"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="EmergencyPhone" class="form-label">Emergency Phone</label>
															<input asp-for="@Model.EmergencyPhone" type="text" class="form-control" autofocus="autofocus" placeholder="EmergencyPhone" />
															<span asp-validation-for="EmergencyPhone"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="RelationWithEmergencyContactPerson" class="form-label">Relation With Emergency Contact Person</label>
															<input asp-for="@Model.RelationWithEmergencyContactPerson" type="text" class="form-control" autofocus="autofocus" placeholder="RelationWithEmergencyContactPerson" />
															<span asp-validation-for="RelationWithEmergencyContactPerson"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="BiometricOrRfIdDeviceId" class="form-label">Biometric Or RfId Device Id</label>
															<input asp-for="@Model.BiometricOrRfIdDeviceId" type="text" class="form-control" autofocus="autofocus" placeholder="BiometricOrRfIdDeviceId" />
															<span asp-validation-for="BiometricOrRfIdDeviceId"></span>
														</div>
													</div>
												</div>

											</div>

											<div class="tab-pane fade" id="salary" role="tabpanel" aria-labelledby="salary-tab">

												<div class="card-body">
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="CTC" class="form-label">CTC</label>
															<input asp-for="@Model.CTC" type="text" class="form-control" autofocus="autofocus" placeholder="Cost to Company (CTC)" />
															<span asp-validation-for="CTC"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="PanNo" class="form-label">Pan No</label>
															<input asp-for="@Model.PanNo" type="text" class="form-control" autofocus="autofocus" placeholder="PanNo" />
															<span asp-validation-for="PanNo"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="ProvidentFundAccountNo" class="form-label">Provident Fund Account No</label>
															<input asp-for="@Model.ProvidentFundAccountNo" type="text" class="form-control" autofocus="autofocus" placeholder="ProvidentFundAccountNo" />
															<span asp-validation-for="ProvidentFundAccountNo"></span>
														</div>
													</div>
												</div>

											</div>

											<div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">

												<div class="card-body">
													<div class="form-row">
														<div class="form-group col-md-4">
															<label for="MaritalStatus" class="form-label">Marital Status</label>
															<select asp-for="@Model.MaritalStatus" class="form-control">
																<option value="">--Select-</option>

																<option value="Single">Single</option>
																<option value="Married">Married</option>
																<option value="Divorced">Divorced</option>
																<option value="Widowed">Widowed</option>
															</select>
															<span asp-validation-for="MaritalStatus"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="MarraigeDate" class="form-label">MarraigeDate</label>
															<input asp-for="@Model.MarraigeDate" type="date" class="form-control" autofocus="autofocus" placeholder="MarraigeDate" />
															<span asp-validation-for="MarraigeDate"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="BloodGroup" class="form-label">Blood Group</label>
															<select asp-for="@Model.BloodGroup" class="form-control">
																<option value="">--Select-</option>
																
																<option value="A+">A+</option>
																<option value="A-">A-</option>
																<option value="B+">B+</option>
																<option value="B-">B-</option>
																<option value="AB+">AB+</option>
																<option value="AB-">AB-</option>
																<option value="O+">O+</option>
																<option value="O-">O-</option>
															</select>
															
															<span asp-validation-for="BloodGroup"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="PassportNumber" class="form-label">Passport Number</label>
															<input asp-for="@Model.PassportNumber" type="text" class="form-control" autofocus="autofocus" placeholder="PassportNumber" />
															<span asp-validation-for="PassportNumber"></span>
														</div>
													
														<div class="form-group col-md-4">
															<label for="PassportValidUpto" class="form-label">Passport Valid Upto</label>
															<input asp-for="@Model.PassportValidUpto" type="date" class="form-control" autofocus="autofocus" placeholder="PassportValidUpto" />
															<span asp-validation-for="PassportValidUpto"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="PassportPlaceOfIssue" class="form-label">Passport Place Of Issue</label>
															<input asp-for="@Model.PassportPlaceOfIssue" type="text" class="form-control" autofocus="autofocus" placeholder="PassportPlaceOfIssue" />
															<span asp-validation-for="PassportPlaceOfIssue"></span>
														</div>
														<div class="form-group col-md-4">
															<label for="PassportDateOfIssue" class="form-label">PassportDateOfIssue</label>
															<input asp-for="@Model.PassportDateOfIssue" type="date" class="form-control" autofocus="autofocus" placeholder="PassportDateOfIssue" />
															<span asp-validation-for="PassportDateOfIssue"></span>
														</div>
														
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->

						<div class="card-body">
						     <div class="col-lg-2 col-md-2 col-sm-12">
						     	<button type="submit" class="btn btn-primary">Save</button>
						     </div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	
	function onReportingAuthorityfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('FullName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Ra)), query);
	}

	function onDepartmentrfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('DepartmentName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Department)), query);
	}

	function onErpUserfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('FullName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.ErpUsers)), query);
	}
	
</script>
<script>
	function onDesignationrfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('DesignationName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Designation)), query);
	}
</script>
<script>
	function onBranchrfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('BranchName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Branch)), query);
	}
</script>
<script>
	function onEmploymentTypeIdrfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('EmploymentTypeName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.EmploymentType)), query);
	}
</script>
@section scripts{
	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
					$('#imagePreview').hide();
					$('#imagePreview').fadeIn(650);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		$("#imageUpload").change(function () {
			readURL(this);
		});
	</script>
}
