@using System.Collections;
@using Newtonsoft.Json;
@model CloudVOffice.Data.DTO.HR.Master.DepartmentDTO;
@{
    Layout = "_MainAppLayout";
	var departmenList = new SelectList((IEnumerable)ViewBag.ParentDepartmentList, "DepartmentId", "DepartmentName");
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>CRM Dashboard</h5>
                    <h6 class="sub-heading">Welcome to Unify Admin Template</h6>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login">Last Login: 2 hours ago</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

			<div class="card">
				<form asp-route="Hr/Department/DepartmentCreate" method="post" autocomplete="off">
					<div asp-validation-summary="ModelOnly" class="message-error"></div>


					<div class="card-header"><b>Basic Info</b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-3">
								<input asp-for="@Model.DepartmentId" type="hidden"  />

								<label for="DepartmentName" class="form-label">Department Name</label>
								<input asp-for="@Model.DepartmentName" type="text" class="form-control" autofocus="autofocus" placeholder="DepartmentName" />
								<span asp-validation-for="DepartmentName"></span>
							</div>

						</div>
						<div class="form-row">
							<div class="form-group col-md-3">

								<label for="Parent" class="form-label">Parent</label>



								<ejs-dropdownlist id="Countries" dataSource="@(new SelectList((IEnumerable)ViewBag.ParentDepartmentList, "DepartmentId", "DepartmentName" ).Items)" placeholder="Select a Department" popupHeight="220px" allowFiltering="true" filtering="onParentDepartmentrfiltering">
									<e-dropdownlist-fields text="DepartmentName" value="DepartmentId"></e-dropdownlist-fields>
								</ejs-dropdownlist>




								<span asp-validation-for="Parent"></span>
							</div>
							<div class="form-group col-md-3">

								<label for="IsGroup" class="form-label">Is Group</label>
								<input asp-for="@Model.IsGroup" type="checkbox"  />
								<span asp-validation-for="IsGroup"></span>
							</div>
							
						</div>
					</div>

					<div class="card-body">

						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				
				</form>
		
			</div>



		</div>
	</div>

</div>
<script>
	    function onParentDepartmentrfiltering(e) {
        var query = new ej.data.Query();
        query = (e.text !== '') ? query.where('DepartmentName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.ParentDepartmentList)), query);
    }
</script>