@using System.Collections;
@using Newtonsoft.Json;
@model CloudVOffice.Data.DTO.Accounts.ChartOfAccountsDTO;
@{
	Layout = "_MainAppLayout";
	ViewData["Title"] = "Chart Of Accounts Create";
	var chartOfAccountsList = new SelectList((IEnumerable)ViewBag.ParentAccountGroup, "ParentAccountGroupId", "AccountName");
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>ACCOUNT</h5>
					<h6 class="sub-heading">  </h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">  </span>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

			<div class="card">
				<form asp-route="Accounts/ChartOfAccounts/ChartOfAccountsCreate" method="post" autocomplete="off">
					<div asp-
						 ation-summary="ModelOnly" class="message-error"></div>


					<div class="card-header"><b>Basic Info</b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-3">
								<input asp-for="@Model.ChartOfAccountsId" type="hidden" />

								<label for="AccountName" class="form-label">Account Name&nbsp;<span style="color:red"><b>*</b></span></label>
								<input asp-for="@Model.AccountName" type="text" class="form-control" autofocus="autofocus" placeholder="Account Name" />
								<span asp-validation-for="AccountName"></span>
							</div>
							<div class="form-group col-md-3">


								<label for="AccountNumber" class="form-label">Account Number</label>
								<input asp-for="@Model.AccountNumber" type="text" class="form-control" autofocus="autofocus" placeholder="Account Number" />
								<span asp-validation-for="AccountNumber"></span>
							</div>
							<div class="form-group col-md-3">


								<label for="IsGroup" class="form-label">IsGroup</label>
								<input asp-for="@Model.IsGroup" type="checkbox" class="form-control" autofocus="autofocus" placeholder="Is Group" />
								<span asp-validation-for="IsGroup"></span>
							</div>
							
							<div class="form-group col-md-3">


								<label for="RootType" class="form-label">RootType&nbsp;<span style="color:red"><b>*</b></span></label>
								<input asp-for="@Model.RootType" type="text" class="form-control" autofocus="autofocus" placeholder="Root Type" />
								<span asp-validation-for="RootType"></span>
							</div>
							<div class="form-group col-md-3">


								<label for="ReportType" class="form-label">Report Type&nbsp;<span style="color:red"><b>*</b></span></label>
								<input asp-for="@Model.ReportType" type="text" class="form-control" autofocus="autofocus" placeholder="Report Type" />
								<span asp-validation-for="ReportType"></span>
							</div>
							<div class="form-group col-md-3">

								<label for="ParentAccountGroupId" class="form-label">Parent Account Group Id</label>

								<ejs-dropdownlist id="ParentAccountGroupId" allowFiltering="true" ejs-for="@Model.ParentAccountGroupId" filtering="onParentChartOfAccountsfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.ParentAccountGroup, "ChartOfAccountsId", "AccountName" ).Items)" placeholder="Select a Chart Of Accounts" popupHeight="220px">
									<e-dropdownlist-fields text="AccountName" value="ChartOfAccountsId"></e-dropdownlist-fields>
								</ejs-dropdownlist>

								<span asp-validation-for="ParentAccountGroupId"></span>
								
							</div>
							
							<div class="form-group col-md-3">

								<label for="AccountType" class="form-label">Account Type</label>
								<input asp-for="@Model.AccountType" type="text" class="form-control" autofocus="autofocus" placeholder="Account Type" />
								<span asp-validation-for="AccountType"></span>
							</div>
							<div class="form-group col-md-3">


								<label for="TaxRate" class="form-label">TaxRate</label>
								<input asp-for="@Model.TaxRate" type="text" class="form-control" autofocus="autofocus" placeholder="Tax Rate" />
								<span asp-validation-for="TaxRate"></span>
							</div>
							<div class="form-group col-md-3">


								<label for="BalanceMustBe" class="form-label">Balance Must Be</label>
								<input asp-for="@Model.BalanceMustBe" type="text" class="form-control" autofocus="autofocus" placeholder="Balance Must Be" />
								<span asp-validation-for="BalanceMustBe"></span>
							</div>

						</div>

					</div>

					<div class="card-body">

						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>

			</div>



		</div>
	</div>

</div>

<script>
	function onParentChartOfAccountsfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('AccountName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.ParentAccountGroup)), query);
	}
</script>
