@using System.Collections;
@using Newtonsoft.Json;
@model CloudVOffice.Data.DTO.Attendance.EmployeeAttendanceDTO;
@{
	Layout = "_MainAppLayout";
	ViewData["Title"] = "Employee Attendance";
}
@addTagHelper *, Syncfusion.EJ2

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>Attendance</h5>
					<h6 class="sub-heading"></h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">  </span>
				</div>
			</div>
		</div>
	</div>
</header>


<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

			<div class="card">
				<form asp-route="/Attendance/EmployeeAttendance/CreateEmployeeAttendance" method="post" autocomplete="off">
					<div asp-ation-summary="ModelOnly" class="message-error"></div>


					<div class="card-header"><b>Employee Attendanc&nbsp;<span style="color:red;"><b>*</b></span></b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-4">
								<input asp-for="@Model.EmployeeAttendanceId" type="hidden" />

								<label for="EmployeeId" class="form-label">Employee&nbsp;<span style="color:red;"><b>*</b></span></label>
								<ejs-dropdownlist id="EmployeeId" allowFiltering="true" ejs-for="@Model.EmployeeId" filtering="onEmployeerfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.Employees, "EmployeeId", "FullName" ).Items)" placeholder="Select Employee  " popupHeight="220px">
									<e-dropdownlist-fields text="FullName" value="EmployeeId"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>

									<span asp-validation-for="EmployeeId"></span>
                            </div>

						</div>

						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="AttendanceDate" class="form-label">Attendance Date&nbsp;<span style="color:red;"><b>*</b></span></label>
								<input asp-for="@Model.AttendanceDate" type="date" class="form-control" autofocus="autofocus" placeholder="Attendance Date" />
								<span asp-validation-for="AttendanceDate"></span>
							</div>

							<div class="form-group col-md-4">
								<label for="Status" class="form-label">Status</label>
								<select asp-for="@Model.Status" class="form-control" autofocus="autofocus" placeholder="Status">
									
									<option value="1">Present</option>
									<option value="2">Absent</option>

								</select>
								<span asp-validation-for="Status"></span>

							</div>

						</div>

						<div class="form-row">
							<div class="form-group col-md-4">

								<label for="IsLateEntry" class="form-label">Is LateEntry</label>
								<input asp-for="@Model.IsLateEntry" type="checkbox" />
								<span asp-validation-for="IsLateEntry"></span>
							</div>

							<div class="form-group col-md-4">
								
								<label for="IsEarlyExit" class="form-label">Is EarlyExit</label>
								<input asp-for="@Model.IsEarlyExit" type="checkbox" />
								<span asp-validation-for="IsEarlyExit"></span>
							</div>

						</div>

						
					</div>

					<div class="card-body">

						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>

			</div>



		</div>
	</div>

</div>

<script>
	function onEmployeerfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('FullName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Employees)), query);
	}
</script>