@model CloudVOffice.Data.DTO.DesktopMonitoring.RestrictedApplicationDTO;
@using System.Collections;
@using Newtonsoft.Json;
@{
	Layout = "_MainAppLayout";
	ViewData["Title"] = "Restricted Application";

}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>Restricted Application</h5>

				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">  </span>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

			<div class="card">
				<form asp-route="/DesktopMonitoring/RestrictedApplication/RestrictedApplicationCreate" method="post" autocomplete="off">
					<div asp-validation-summary="ModelOnly" class="message-error"></div>


					<div class="card-header"><b>Restricted Application</b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-4">
								<input asp-for="@Model.RestrictedApplicationId" type="hidden" />
								<label for="RestrictedApplicationName" class="form-label">Restricted Application Name</label>
								<input asp-for="@Model.RestrictedApplicationName" type="text" class="form-control" autofocus="autofocus" placeholder="Restricted Application Name" />
								<span asp-validation-for="RestrictedApplicationName"></span>
							</div>

						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="DepartmentId" class="form-label">Department</label>
								<ejs-dropdownlist id="DepartmentId" allowFiltering="true" ejs-for="@Model.DepartmentId" filtering="onDepartmentrfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.Department, "DepartmentId", "DepartmentName").Items)" placeholder="Select Department" popupHeight="220px">
									<e-dropdownlist-fields text="DepartmentName" value="DepartmentId"></e-dropdownlist-fields>
								</ejs-dropdownlist>
								<span asp-validation-for="DepartmentId"></span>
							</div>
						</div>
					</div>

					<div class="card-body">

						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>

			</div>



		</div>
	</div>

</div>
<script>

	function onDepartmentrfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('DepartmentName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Department)), query);
	}


</script>