@model CloudVOffice.Data.DTO.Recruitment.JobApplicationDTO;
@{
	Layout = "_MainAppLayout";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@using System.Collections;
@using Newtonsoft.Json;
<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>Job Application</h5>
					
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">Last Login: 2 hours ago</span>
				</div>
			</div>
		</div>
	</div>
</header>


<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

			<div class="card">
				<form asp-route="Recruitment/JobApplication/CreateJobApplication" method="post" autocomplete="off" enctype="multipart/form-data">
					<div asp-
						 ation-summary="ModelOnly" class="message-error"></div>


					<div class="card-header"><b>Job Application</b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-4">
								<input asp-for="@Model.JobApplicationId" type="hidden" />

								
									<label for="ApplicantName" class="form-label">Applicant Name</label>
									<input asp-for="@Model.ApplicantName" type="text" class="form-control" autofocus="autofocus" placeholder="Applicant Name" />
									<span asp-validation-for="ApplicantName"></span>
								
							</div>
							
							<div class="form-group col-md-4">
								<label for="JobApplicationSourceId" class="form-label">JobApplicationSource</label>
								<ejs-dropdownlist id="JobApplicationSourceId" allowFiltering="true" ejs-for="@Model.JobApplicationSourceId" filtering="onJobApplicationSourcerfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.JobApplicationSource, "JobApplicationSourceId", "SourceName").Items)" placeholder="Select JobApplicationSource" popupHeight="220px">
									<e-dropdownlist-fields text="SourceName" value="JobApplicationSourceId"></e-dropdownlist-fields>
								</ejs-dropdownlist>
								<span asp-validation-for="JobApplicationSourceId"></span>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="EmailAddress" class="form-label">Email Address</label>
								<input asp-for="@Model.EmailAddress" type="text" class="form-control" autofocus="autofocus" placeholder="Email Address" />
								<span asp-validation-for="EmailAddress"></span>
							</div>
							<div class="form-group col-md-4">
								<label for="PhoneNo" class="form-label">Phone No</label>
								<input asp-for="@Model.PhoneNo" type="text" class="form-control" autofocus="autofocus" placeholder="Phone No" />
								<span asp-validation-for="PhoneNo"></span>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="JobId" class="form-label">Job Opening</label>
								<ejs-dropdownlist id="JobOpeningId" allowFiltering="true" ejs-for="@Model.JobId" filtering="onJobOpeningrfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.JobOpening, "JobOpeningId", "JobTitle").Items)" placeholder="Select Job Opening" popupHeight="220px">
									<e-dropdownlist-fields text="JobTitle" value="JobOpeningId"></e-dropdownlist-fields>
								</ejs-dropdownlist>
								<span asp-validation-for="JobId"></span>
							</div>

							<div class="form-group col-md-4">
								<label for="CV" class="form-label">CV</label>
								<input asp-for="@Model.CVDOC" type="file" class="form-control" autofocus="autofocus" placeholder="CV" />
								<span asp-validation-for="CV"></span>
								@{
									if (Model.CV != null)
									{
										<img src="/uploads/jobapplication/@Model.CV" style="height:100px; width:100px" />
										<input type="hidden" asp-for="@Model.CV">
									}
								}
							</div>

						</div>

						<div class="form-row">
							<div class="form-group col-md-4">
								<label for="SalaryExpectation" class="form-label">Salary Expectation</label>
								<input asp-for="@Model.SalaryExpectation" type="text" class="form-control" autofocus="autofocus" placeholder="Salary Expectation" />
								<span asp-validation-for="SalaryExpectation"></span>
							</div>
							<div class="form-group col-md-4">
								<label for="SalaryExpectationLowerRange" class="form-label">Salary Expectation Lower Range</label>
								<input asp-for="@Model.SalaryExpectationLowerRange" type="text" class="form-control" autofocus="autofocus" placeholder="Salary Expectation Lower Range" />
								<span asp-validation-for="SalaryExpectationLowerRange"></span>
							</div>
						</div>

						<div class="form-row">

							<div class="form-group col-md-8">
								<label for="TagDescription" class="form-label">Tag Description</label>
								<textarea asp-for="@Model.TagDescription" type="text" class="input-with-feedback form-control" data-fieldtype="Small Text" autofocus="autofocus" placeholder="Tag Description" style="height: 150px;"></textarea>
								<span asp-validation-for="TagDescription"></span>
							</div>

						</div>

					</div>

					<div class="card-body">

						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>

			</div>



		</div>
	</div>

</div>
<script>
	function onJobApplicationSourcerfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('SourceName', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.jobApplicationSource)), query);
	}
</script>

<script>
	function onJobOpeningrfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('JobTitle', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.JobOpening)), query);
	}
</script>