@model CloudVOffice.Data.DTO.Recruitment.JobApplicationDTO;
@{
	Layout = "_MainAppLayout";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>CRM Dashboard</h5>
					<h6 class="sub-heading">Welcome to Unify Admin Template</h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">Last Login: 2 hours ago</span>
				</div>
			</div>
		</div>
	</div>
</header>


<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

			<div class="card">
				<form asp-route="Recruitment/JobApplication/CreateJobApplication" method="post" autocomplete="off">
					<div asp-
						 ation-summary="ModelOnly" class="message-error"></div>


					<div class="card-header"><b>Basic Info</b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-5">
								<input asp-for="@Model.JobApplicationId" type="hidden" />

								<label for="JobId" class="form-label">Job Id</label>
								<input asp-for="@Model.JobId" type="text" class="form-control" autofocus="autofocus" placeholder="Job Id" />
								<span asp-validation-for="JobId"></span>
							</div>
							<div class="form-group col-md-5">
								<label for="ApplicantName" class="form-label">Applicant Name</label>
								<input asp-for="@Model.ApplicantName" type="text" class="form-control" autofocus="autofocus" placeholder="Applicant Name" />
								<span asp-validation-for="ApplicantName"></span>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-5">
								<label for="EmailAddress" class="form-label">Email Address</label>
								<input asp-for="@Model.EmailAddress" type="text" class="form-control" autofocus="autofocus" placeholder="Email Address" />
								<span asp-validation-for="EmailAddress"></span>
							</div>
							<div class="form-group col-md-5">
								<label for="PhoneNo" class="form-label">Phone No</label>
								<input asp-for="@Model.PhoneNo" type="text" class="form-control" autofocus="autofocus" placeholder="Phone No" />
								<span asp-validation-for="PhoneNo"></span>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-5">
								<label for="JobApplicationSourceId" class="form-label">JobApplication Source Id</label>
								<input asp-for="@Model.JobApplicationSourceId" type="text" class="form-control" autofocus="autofocus" placeholder="Job Application Source Id" />
								<span asp-validation-for="JobApplicationSourceId"></span>
							</div>

							<div class="form-group col-md-5">
								<label for="CV" class="form-label">CV</label>
								<input asp-for="@Model.CV" type="text" class="form-control" autofocus="autofocus" placeholder="CV" />
								<span asp-validation-for="CV"></span>
							</div>

						</div>

						<div class="form-row">
							<div class="form-group col-md-5">
								<label for="SalaryExpectation" class="form-label">Salary Expectation</label>
								<input asp-for="@Model.SalaryExpectation" type="text" class="form-control" autofocus="autofocus" placeholder="Salary Expectation" />
								<span asp-validation-for="SalaryExpectation"></span>
							</div>
							<div class="form-group col-md-5">
								<label for="SalaryExpectationLowerRange" class="form-label">Salary Expectation Lower Range</label>
								<input asp-for="@Model.SalaryExpectationLowerRange" type="text" class="form-control" autofocus="autofocus" placeholder="Salary Expectation Lower Range" />
								<span asp-validation-for="CV"></span>
							</div>
						</div>

						<div class="form-row">

							<div class="form-group col-md-12">
								<label for="TagDescription" class="form-label">Tag Description</label>
								<textarea asp-for="@Model.TagDescription" type="text" class="input-with-feedback form-control" data-fieldtype="Small Text" autofocus="autofocus" placeholder="Tag Description" style="height: 150px;"></textarea>
								<span asp-validation-for="TagDescription"></span>
							</div>

						</div>

					</div>

					<div class="card-body">

						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>

			</div>



		</div>
	</div>

</div>